# Logs
lerna-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
npm-debug.log*
*.log
logs

node_modules
dist-ssr
*.local
dist

# Editor directories and files
!.vscode/extensions.json
.DS_Store
.vscode/*
.idea
*.njsproj
*.ntvs*
*.suo
*.sln
*.sw?
